body {
  margin: 0;
  padding: 0;
}

@media (min-width:601px) {
  .not-member-top {
    display: none;
    
  }
  
}
@media (max-width:600px) {
  .side {
    display:none
  }
  .main {
    width: 100% !important;
  }
  .not-member-bottom {
    display: none;
  }
  
}
